body {
    font-family: Georgia, serif;
    padding: 0;
    margin: auto;
    width: 80%;
    background-color: #F5F5EF;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #F9F9F6;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.details {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    color: #555;
}

.projects {
    padding: 20px;
    text-align: center;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 30px;
}

.project {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    padding: 20px;
    width: 25%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: #DDE3D4; /* Light, soft green to match the template */
    color: #333; /* Dark text for contrast */
    padding: 10px 20px;
    border: 1px solid #B3B7A6; /* Slightly darker green for the border */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #B3B7A6; /* Darker green on hover for a subtle effect */
}
/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Styling for the text-based links */
.text-link {
    color: #4CAF50; /* Soft green color matching the template */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}
.text-link:hover {
    color: #45a049; /* Slightly darker green on hover */
}
/* Summary Section */
.summary {
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5; /* Light background for contrast */
    margin-bottom: 20px;
}

.summary h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.summary p {
    font-size: 16px;
    color: #555;
    margin: 0;
}

/* Skills Section */
.skills {
    padding: 20px;
    text-align: left;
    background-color: #fff;
    margin-bottom: 20px;
}

.skills h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}